@use '../../../sass/tools/variables.scss' as vr;
@use '../../../sass/tools/mixin.scss' as mx;
@use '../../../sass/tools/extends.scss' as ex;

.contenedorListadoCategorias{
    grid-area: contenido;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    button{
        font-weight: 1000;
        color: vr.$color-principal;
        background-color: vr.$color-secundario;
        padding: 10px;
        margin: 10px;
    }
    
    .listadoCategorias{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 90%;
        background-color: vr.$color-secundario;
        color: vr.$color-principal;
        gap: 10px;
        padding: 10px;
        font-weight: 800;
        
    }
}